<div class="author-oneline-box">
    {{#foreach authors}}
    <div class="author-sect">
        <img class="avatar-image" src="{{img_url profile_image size=' xs'}}" alt="{{name}}">
        <a class="author-oneline-url" href='{{ url }}'>
            <h4 class="author-name">{{name}}</h4>
        </a>
    </div>
    {{/foreach}}
</div>