<article class="featured u-shadow"
    onclick="window.open('{{url}}','_self')">
    {{!-- {{#if featured}} --}}
<div class="image-holder-wrapper" style="width:100%;height:180px">
    <img class="post-image lazyload u-object-fit" data-src="{{img_url feature_image size="s" format="webp"}}"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto"
        alt="{{title}}">
</div>
    {{!-- {{/if}} --}}
    {{!-- {{> post-media same_height=true ratio="rectangle"}} --}}
    <div class="post-wrapper">
        {{> card-header tag="h2"}}
    </div>
    {{> post-footer}}
</article>