{{#get 'posts' filter='tags:[{{post.primary_tag.slug}}]+id:-{{post.id}}' include='tags,authors' order='published_at desc' limit='3'}}
<h3 class="related-title">
    <span class="text">Related Posts</span>
</h3>
<div class="related-posts">
    <div class="post-feed">
        {{#foreach posts visibility="all"}}
        <div class="post-column col-xl-4 col-md-6">
            {{> "loop"}}
        </div>
        {{/foreach}}
    </div>
</div>
{{/get}}