{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}"
include="tags,authors" as |related|}}
{{#if related}}
<h3 class="related-title">
    <span class="text">Related Posts</span>
</h3>
<div class="related-posts">
    <div class="post-feed">
        {{#foreach posts visibility="all"}}
        <div class="post-column col-xl-4 col-md-6">
            {{> "loop"}}
        </div>
        {{/foreach}}
    </div>
</div>
{{/if}}
{{/get}}