{{#if tags}}
<div class="post-tags">
    {{#foreach tags}}
    <div class="tags-wrapper-pill"><a class="tag tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a></div>
    {{/foreach}}
</div>
{{/if}}