{{!< default}} <div class="container">
    {{!-- Single Author Page --}}
    {{#author}}
    <div class="term-author">
        <div class="author-image-placeholder u-placeholder">
            <img class="author-image lazyload" data-src="{{img_url profile_image size=" xs"}}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{name}}">
        </div>
        <h1 class="author-name">{{name}}</h1>
    </div>
    <div class="author-bio">
        {{ bio }}
    </div>
    {{/author}}
    <div class="post-feed-2 post-feed">
        {{#foreach posts}}
        {{> "loop"}}
        {{/foreach}}
    </div>
    </div>