{{!< default}} <div class="page-wrapper" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
    <!-- <script>
    //this is where we will load the api



    </script> -->
    <style>
        .info-section h2{
            font-size:22px;
        }

        .info-section i,p{
        
            font-size:14px;
        }

.event-links{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right:15px;
    gap:10px;
}

.lmclass{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-family: var(--font-family-sansSerif);
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 300px); /* Default layout for large screens */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
}

/* Adjust grid layout for slightly smaller screens */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 300px);
    }
}

/* Adjust grid layout for medium screens */
@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(3, 300px);
    }
}

/* Adjust grid layout for small-medium screens */
@media (max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(2, 300px);
    }
}

/* Adjust grid layout for small screens */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(1, 300px);
    }
}



    </style>

    <div class="top-events-container" style="height: 100%;width: 100%; display:flex;flex-direction:column;">
       <div class="grid-container" style="height:100%; align-self:center;"><h1 style="grid-column: 1 / -1; font-size: 30px; font-family: 'Poppins'; font-weight: bolder;">Upcoming Web3 and Crypto Events</h1>
        
      </div>
    </div>

    </div>