{{!< default}} <div class="page-wrapper">
    {{#match @page.show_title_and_feature_image}}{{/match}}
    {{#post}}
    <article class="service-page">
        {{content}}
    </article>
    {{/post}}

    </div>