<div class="widget widget-recent">
    <h4 class="widget-title">Editor's Picks</h4>
    {{#get 'posts' filter='tags:[hash-editors-picks]' include='tags,authors' order='published_at desc'
    limit=@custom.number_of_editors_picks_posts as |recents|}}
    {{#if recents}}
    <div class="recent-posts">
        {{#foreach recents visibility="all"}}
        <article class="recent">
            <h5 class="widget-eh">
                <a class="post-title-link" href="{{url}}">{{title}}</a>
            </h5>
            {{> post-date}}
        </article>
        {{/foreach}}
    </div>
    {{/if}}
    {{/get}}
</div>