<div class="widget widget-recent">
    <h4 class="widget-title">Editor's Picks</h4>
    {{#get 'posts' filter='tags:[hash-editors-picks]' include='tags,authors' order='published_at desc'
    limit=@custom.number_of_editors_picks_posts as |recents|}}
    {{#if recents}}
    <div class="recent-posts">
        {{#foreach recents visibility="all"}}
        <article class="recent">
            {{> post-header tag="h5" hide_tag=true show_date=true}}
        </article>
        {{/foreach}}
    </div>
    {{/if}}
    {{/get}}
</div>