.site-footer {
    margin-top: 30px;
}

.secondary-navigation {
    padding: 20px;
}

.spaced-list {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-navigation .nav-list .menu-item {
    font-size: 13px;
}

.poweredby {
    font-size: .77rem;
    font-weight: 600;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #3b3b3b;
    border-radius: 50%;
}

.socials-list {
    display: flex;
    list-style-type: none;
}

.footer-inner {
    padding: 40px 0;
    height: 100%;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: underline;
}