/* PArt concerning new header */



[data-user-color-scheme=dark] .light-widget {
    display: none;
}

[data-user-color-scheme=dark] .dark-widget {
    display: block;
}


[data-user-color-scheme=light] .light-widget {
    display: block;
}

[data-user-color-scheme=light] .dark-widget {
    display: none;
}

.c-header__top {
    padding: 20px 0;
    border-bottom: 0.5px solid var(--color-border-secondary);
}


.c-header__top-inner {
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: auto 2fr auto;
}


.c-header__top-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.c-header__top-right {
    justify-self: end;
}

@media (min-width: 64em) {
    .c-header__top-block {
        gap: 16px;
    }
}

@media (min-width: 40em) {
    .c-header__top-inner {
        grid-template-columns: 1.4fr 2fr 1.4fr;
    }
}



.c-btn--small {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .7px;
    padding: 8px 16px;
    color: var(--color-text-button);
    border-radius: 4px;
    --focus-outline-offset: calc(4px * -1);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: var(--color-background-button);
}


.c-header__button {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .7px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: 0 0;
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
    gap: 4px;
}



[data-colormode="light"]:before {
    content: var(--html-symbol-light);
}


[data-colormode="dark"]:before {
    content: var(--html-symbol-dark);
}

.c-color-mode-btn:before {
    font-size: 15px;
    font-weight:600;
    line-height: var(--line-height-scale-2);
}

.c-header__button svg {
    width: 16px;
    height: 16px;
    fill:var(--color-text-primary);
}



.new-header {
    display: flex;
    flex-direction: column;
}


.second-top{
display:flex;
justify-content: center;
align-items:center;
}


.bottom-header {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid var(--color-border-secondary);
}

.top-left {
    margin-left: 43%;
}


.bottom-header li {
    text-decoration: none;
}

.bottom-header li:hover {
    text-decoration: underline;
}

.bottom-header ul::-webkit-scrollbar {
    display: none;
}

.bottom-header ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 16px 0;
}

/* Part concerning the original footer and header */
.site-header {
    z-index: 80;
    padding: 3px 20px;
    background-color: var(--white-color);
    box-shadow: var(--shadow-base);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar-left,
.navbar-right {
    flex: 2;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.logo-image {
    max-height: 50px;
    width: 185px;
    height: auto;
}

.logo-text {
    font-family: var(--font-alt);
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 9px;
}

.menu-item {
    flex-shrink: 0;
    margin: 0 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
text-decoration: none;
    
}

.menu-item:hover {
   text-decoration: underline;
}



.second-top{
    display:none;
}

@media only screen and (max-width:500px){
   .new-header .second-top{
    display:flex;
margin-right:5%;
}
.c-header__top .c-header__top-center{
display:none;
}

}