/* PArt concerning new header */

@media (max-width: 767px) {
    .new-header .top-header {
        padding-right: 15px;
        padding-left: 15px;
    }

    .new-header .top-header .top-right .button-styled-left {
        display: none;
    }

    .new-header .top-header {
        justify-content: space-between;
    }

    .site .new-header .top-header .top-left {
        margin-left: 0;
    }

    .site .new-header .top-header .top-right {
        margin-left: 0;
    }
}

@media (max-width: 900px) {
    .new-header .top-header .top-left {
        margin-left: 37%;
    }
}

.new-header {
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: normal;
    padding: 15px 100px;
    border-bottom: 0.5px solid #303030;
}

.bottom-header {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #303030;
}

.top-left {
    margin-left: 43%;
}

.top-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 10px;
}

.button-styled-left {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.button-styled-left:hover {
    text-decoration: underline;
}

.button-styled-right {
    padding: 4px 16px;
    color: black;
    font-size: 14.7px;
    font-weight: 500;
    background-color: #b4a7d6;
    border-radius: 5px;
}

.bottom-header li {
    text-decoration: none;
}

.bottom-header li:hover {
    text-decoration: underline;
}

.bottom-header ul::-webkit-scrollbar {
    display: none;
}

.bottom-header ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 16px 0;
}

/* Part concerning the original footer and header */
.site-header {
    z-index: 80;
    padding: 3px 20px;
    background-color: var(--white-color);
    box-shadow: var(--shadow-base);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar-left,
.navbar-right {
    flex: 2;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.logo-image {
    max-height: 50px;
    width: 185px;
    height: auto;
}

.logo-text {
    font-family: var(--font-alt);
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 9px;
}

.menu-item {
    flex-shrink: 0;
    margin: 0 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: underline;
}

.menu-item:hover {
    text-decoration: none;
}