.post-feed .featured {
    position: relative;
    min-height: 350px;
}

.post-feed .featured::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:var(--color-card-background);
}


.post-feed .featured .post-media .post-image {
    display: none;
}

.post-feed .featured .u-placeholder,
.post-feed .featured .post-wrapper,
.post-feed .featured .post-footer {
    position: relative;
    background-color: transparent;
}

.post-feed .featured .post-wrapper {
    display: flex;
    align-items: flex-start;
}

.post-feed .featured .post-header {
    margin-bottom: 0;
}

.post-feed .featured .post-title {
    font-size: 22px;
    line-height: 1.2;
}

/* .post-feed .featured .post-title-link,
.post-feed .featured .post-excerpt,
.post-feed .featured .post-link {
    color: var(--white-color);
} */

.post-feed .featured .post-excerpt {
    display: none;
}

.post-feed .featured .post-footer {
    border-color: var(--color-border-primary);
}

.post-feed .featured .post-author-image {
    border-color: transparent;
}
