/** Code For Page Responsiveness**/

@media only screen and (max-width: 1000px) {
    .page-wrapper>.service-page>p {
        width: 55%;
    }

    .page-wrapper>.service-page>h2 {
        width: 55%;

    }

    .page-wrapper>.service-page>h1{
        width: 55%;
    }   

    .page-wrapper>.service-page>ul {
        width: 55%;
    }

    .page-wrapper>.service-page>.kg-callout-card-purple {
        width: 55%;
    }

    .page-wrapper>.service-page>blockquote {
        width: 55%;
    }

    .page-wrapper>.service-page>h3 {
        width: 55%;
    }
}


@media only screen and (max-width: 600px) {
    .page-wrapper>.service-page>p {
        width: 80%;
    }

    .page-wrapper>.service-page>h2,.page-wrapper>.service-page>h1{
        width: 80%;

    }

    .page-wrapper>.service-page>ul {
        width: 80%;
    }

    .page-wrapper>.service-page>.kg-callout-card-purple {
        width: 80%;
    }

    .page-wrapper>.service-page>blockquote {
        width: 80%;
    }

    .page-wrapper>.service-page>h3 {
        width: 80%;
    }
}



@media only screen and (max-width: 401px) {
    .page-wrapper>.service-page>p {
        width: 90%;
    }

    .page-wrapper>.service-page>h2,.page-wrapper>.service-page>h1{
        width: 90%;
    }

    .page-wrapper>.service-page>ul {
        width: 90%;
        margin-left:10px;
    }

    .page-wrapper>.service-page>.kg-callout-card-purple {
        width: 90%;
    }

    .page-wrapper>.service-page>blockquote {
        width: 90%;
    }

    .page-wrapper>.service-page>h3 {
        width: 90%;
    }
}



/** Code For Page Styling**/
.service-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kg-header-card {
    padding: 80px 5%;
    width: 100%;
    text-align: center;
    background: black;
}

.kg-header-card-header,.kg-header-card-heading {
    color:#b4a7d6;
    padding: 0 25%;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

@media only screen and (max-width: 1000px) {
    .kg-header-card-header {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 800px) {
    .kg-header-card-header {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 700px) {
    .kg-header-card-header {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .kg-header-card {
        padding: 80px 2%;
    }
}

.kg-header-card-subheader{
    margin-bottom: 50px;
    padding: 0 20%;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 32px;
    font-size: 24px;
    color: white;
    font-weight: 400;

}
.kg-header-card-subheading span{
    margin-bottom: 50px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 32px;
    font-size: 24px;
    color: white;
    font-weight: 400;
}

.kg-header-card-subheading{
margin-bottom:40px;
}


.kg-header-card-button,
.kg-btn-accent {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 16px 24px;
    border-radius: 4px;
    color: var(--color-text-button);
    background-color: var(--color-background-button);
}

.kg-header-card-button{
    color: #000;
    background-color: #fff;
}

.kg-btn-accent{
color: var(--color-text-button);
    background-color: var(--color-background-button);
}


/****/
.service-page>p {
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
font-family:var(--font-family-serif);
}
.service-page>em{
font-family:var(--font-family-sansSerif);
}
.service-page>h2 {
    width: 50%;
    font-size: 28px;
    font-weight: 600;
    font-family:var(--font-family-sansSerif);
}

.service-page>h1{
    width: 50%;
}



.service-page>ul>li{
font-family:var(--font-family-serif);
}
.service-page>ul {
    width: 50%;
    font-size: 19px;
}

.kg-callout-card-purple {
    margin-bottom: 20px;
    padding: 30px;
    width: 50%;
max-width:650px;
    font-size: 17.5px;
}

.kg-button-card {
margin-top:20px;
    margin-bottom: 30px;
}

.service-page>blockquote {
    width: 50%;
    font-style: italic;
}

.service-page>h3 {
    width: 50%;
    font-family: var(--font-family-sansSerif);
    font-size: 24px;
    font-weight: 600;
}



@media (min-width: 40em){
.kg-bookmark-thumbnail img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
}



h2.kg-header-card-heading > span{
    color: #b4a7d6;
}

/* Strategic partnerships page cards */
.kg-bookmark-container {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 0 0.5px var(--color-border-secondary);
    border-radius: 7px;
}

.kg-bookmark-card {
    width: 45%;
}

.kg-bookmark-icon {
    width: 25px;
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.kg-bookmark-title {
    font-size: 0.99rem;
    font-weight: 600;
}

.kg-bookmark-description {
    margin-top: 7px;
}

.kg-bookmark-metadata {
    display: flex;
    margin-top: 10px;
    column-gap: 5px;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-card figcaption {
    width: 100%;
    padding-top: 8px;
color:inherit;
font-family:'Poppins';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .25px;
}

@media (max-width: 930px) {
    .kg-bookmark-container .kg-bookmark-content {
        order: 2;
    }

    .kg-bookmark-container .kg-bookmark-thumbnail {
        order: 1;
        width: 100%;
        min-height: 160px;
    }
}

@media (max-width: 930px) {
    .kg-bookmark-card .kg-bookmark-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .service-page .kg-bookmark-card, .service-page .kg-image-card{
        width: 55%;
    }
}

@media only screen and (max-width: 700px) {
    .service-page .kg-bookmark-card, .service-page .kg-image-card{
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .service-page .kg-bookmark-card, .service-page .kg-image-card{
        width: 80%;
    }
    

}

@media only screen and (max-width: 400px) {
    .service-page .kg-bookmark-card, .service-page .kg-image-card{
        width: 90%;
    }
    h2.kg-header-card-heading{
font-size: 35px;
padding: 10px;
}

}





.kg-image-card{
width:50%;
}

