.related-title {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 900;
}

.related-posts {
    width: 100%;
}

.related-posts .post-feed {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width: 100%;
    row-gap: 5px;
}

@media (min-width: 1200px){
.related-posts .col-xl-4 {
    flex: 0 0 24.333333%;
    max-width: 33.333333%;
min-width:300px;
}}

@media (min-width: 768px){
.related-posts .col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
min-width:300px;
}
}

.post-column{
max-width: 400px;
}