.related-title {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 900;
}

.related-posts {
    width: 100%;
}

.related-posts .post-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 15px;
}
